.containerPresentation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10%;
  }
  
  .title_name {
    font-weight: 700;
    color: var(--color-dark);
    font-size: 2.7rem;
  }

  .titleFrontend {
    font-size: 1.4rem;
    font-weight: 600;
    margin: 0.7rem 0;
    color: var(--color-dark);
  }

  .imageSocial {
    background: var(--color-white);
    padding: 0.4rem;
    border: 1.2px solid var(--color-dark);
    border-radius: 49%;
    margin: 1rem 0.3rem;
  }
  
  .imageSocial:hover{
    border: 1px solid var(--violet-hover);
  }
  
  .imageMain {
    object-fit: contain;
  }

  @media (max-width: 768px) {
    .containerPresentation {
      flex-direction: column;
      margin: 5% 0.5rem;
    }
  }
  @media (max-width: 480px) {
    .titleFrontend {
      font-size: 1.6rem;
    }
    .title {
      font-size: 2rem;
    }
  }
  