.containerFooter {
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-top: 0.9px solid var(--lightWhite);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.socialMedia {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socialMedia a {
  margin: 0.2rem;
  text-decoration: none;
  font-size: 0.87rem;
  color: var(--description);
}

.socialMedia a:hover {
  text-decoration: underline;
}

footer p {
  color: var(--description);
  font-size: 0.87rem;
}
