.containerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1.5rem;
  background-color: white;
  border-bottom: 1px solid #e5e7eb;
}

.links > :nth-child(3) {
  background-color: var(--bgBtn);
  padding: 0.55rem 0.88rem;
  color: var(--nav);
  border: 1px solid var(--nav);
   border-radius: 25px;
}

.btnNav {
  display: inline-block;
  padding: 0.5rem 0.4rem;
  border: none;
  margin: 0 0.6rem;
  font-size: 0.8rem;
  color: var(--nav);
  background-color: transparent;
  border-radius: 0.6rem;
  font-family: inherit;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 1px;
}

.btnNav:hover {
  text-decoration: underline;
}

.links {
  display: flex;
  align-items: center;
}

@media (max-width: 480px) {
  .containerNav {
    justify-content: center;
    flex-wrap: wrap;
  }
  .links{
      flex-direction: column;
  }
}
