/* CONTENEDOR GENERAL */
.container {
  color: var(--color-dark);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 1rem;
}

/* ABOUT ME */
.containerAboutMe {
  width: 50%;
  padding: 1.2rem 1.8rem;
  margin: 4rem 0;
  line-height: 1.7;
}

/* TEXTO */
.containerAboutMe p {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  color: var(--description);
}

/* TABLETS */
@media (max-width: 1024px) {
  .containerAboutMe {
    width: 70%;
    margin: 3rem 0;
  }
}

/* TABLETS / MOBILE */
@media (max-width: 768px) {
  .containerAboutMe {
    width: 100%;
    padding: 1rem 1.4rem;
    margin: 2.5rem 0;
  }
}

/* MOBILE CHICO */
@media (max-width: 480px) {
  .containerAboutMe {
    padding: 1rem;
    margin: 2rem 0;
  }

  .containerAboutMe p {
    font-size: 0.95rem;
    line-height: 1.75;
  }
}
