.containerProject {
    padding: 1rem 1.6rem;
  }

  .containerCard {
   display: flex;
   flex-direction: column;
  }
  
  .bodyCard {
    box-shadow: 0 4px 12px rgba(250, 247, 247, 0.1);
    cursor: pointer;
    display: inline-grid;
    flex-direction: column;
    margin: 2rem auto;
    transition: transform 0.2s ease-in;
    margin: .55rem;
    padding: 0.6rem;
    background-color: var(--color-white);
    border-radius: .6rem;
  }
  
  .bodyCard:hover {
    transform: scale(1.03);
  }
  
  .imageCard {
  width: 80px;
  height: 80px;
  margin: 0 .5rem;
  cursor: pointer;
  object-fit: contain;
  }

  
  .titleCard {
    font-weight: 700;
    font-size: 1rem;
    margin: 1rem 0;
    color: var(--color-dark)
  }
  
  .description {
    color: var(--description);
    font-weight: 500;
    font-size: 0.88rem;
    width: 50%;
    margin-bottom: 0.6rem;
  }
  
.containerImages{
  display: flex;
  flex-direction: row;
}



  