@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Montserrat:wght@300;400;500&display=swap');

:root {
  --gray: #ddd;
  --dark: #222;
  --darkLight: #333;
  --grayLight: #eee;
  --background: #f9f9f9;
  --shinyGray: #555;
  --skyBlue1: #0073b1;
  --skyBlue2: #005582;
}
/* Reset y body */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FAF7F2;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
    color: #2C2C2C;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  border-bottom: 2px solid var(--gray);
  display: inline-block;
  padding-bottom: 5px;
}

p {
  font-size: .95rem;
  color: var(--darkLight);
  margin-bottom: 15px;
  text-align: start;
}

h1,h2,h3{
  color: #2c2c2c;
}

@media (max-width: 768px) {
  h2 {
    font-size: 1rem;
  }
    #about p {
    font-size: 0.95rem;
  }
}
