* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

h2,
h3 {
  color: var(--black);
  margin-bottom: 0.5rem;
}

:root {
  --color-dark: #4b5563;
  --nav:#46403d;
  --bgBtn:#d8d2bf;
  --description: #010101;
  --black: #000;
  --color-white: #ffff;
  --background: ##f1f1f1;
  --lightWhite: rgb(225, 225, 225);
}

body,
html {
  background-color: var(--background);
  font-family: 'Onest';
  width: 100%;
  height: 100%; 
}
