* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
:root {
  --color-dark: #2f2319;
  --bgBtn: #6d6d6d;
  --color-white: #ffff;
  --description: #1a1e23;
  --lightBrown: #664f3a;
  --background: #f5f4eb;
  --lightWhite: rgb(225, 225, 225);
  --brown:#7b6142;
  --sand:#c2ba87;
}

body,
html {
  background-color: var(--background);
  font-family: 'Onest';
}
